:root {
    --max-width: 1336px;
    --default-padding: 32px;
    --textgray: #2c3e50;
    --font-size: 14px;
    --textactive: var(--secondarycolour);
    --primarycolour: #00203FFF; //rgb(0, 32, 63)
    --secondarycolour: #9CC3D5FF; //rgb(156, 195, 213)
    --bgcolour: #FFFFFFFF;  //rgb(255, 255, 255)
    --errorcolour: #FF0000FF; //rgb(255,0,0)
    --successcolour: #22BB33FF; //rgb(34,187,51)
    --boxshadowcolour: #000000FF; //rgb(0,0,0)
    --medium-size: 640px ;
}